<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="ISO-8859-1">
    <title>Registeration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<!-- HTML Registration Form Container-->
<div class="container">
    <div class="row">
        <div class = "col-md-6 col-md-offset-3">
            <!-- Success Message -->
            <div th:if = "${param.success}">
                <div class = "alert alert-info"> You've Successfully Registered! </div>
            </div>
            <!-- Form Starts Here -->
            <h1>Registration</h1>
                    <form th:action="@{/register}" th:object="${user}" method="post">

                        <div class="form-group">
                            <label for="firstName" class="form-control-label">Firstname</label>
                            <input type="text" class="form-control" th:field="*{firstName}" id="firstname">
                        </div>


                        <div class="form-group">
                            <label for="lastName" class="form-control-label">Lastname</label>
                            <input type="text" class="form-control" th:field="*{lastName}" id="lastname">
                        </div>

                        <div class="form-group">
                            <label for="userName" class="form-control-label"> Username </label>
                            <input type="text" class="form-control" th:field="*{userName}" id="username">
                        </div>

                        <div class="form-group">
                            <label for="email" class="form-control-label"> Email </label>
                            <input type="text" class="form-control" th:field="*{email}" id="email">
                        </div>

                        <div class="form-group">
                            <label for="passWord" class="form-control-label"> Password </label>
                            <input type="password" class="form-control" th:field="*{passWord}" id="password">
                        </div>

                        <div class="form-group">
                            <label for="phonenumber" class="form-control-label"> Phonenumber </label>
                            <input type="text" class="form-control" th:field="*{phonenumber}" id="phonenumber">
                        </div>
                        <div class="form-group">
                            <label for="homeaddress" class="form-control-label"> Home Address </label>
                            <input type="text" class="form-control" th:field="*{hAddress}" id="homeaddress">
                        </div>
                        <div class="form-group">
                            <label for="homecity" class="form-control-label"> Home City </label>
                            <input type="text" class="form-control" th:field="*{hCity}" id="homecity">
                        </div>
                        <div class="form-group">
                            <label for="homezip" class="form-control-label"> Home Zipcode </label>
                            <input type="text" class="form-control" th:field="*{hZip}" id="homezip">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Register</button>
                            <span>Already Registered?
                                <a href="/" th:href="@{/login}"> Login </a>
                            </span>
                        </div>


                    </form>

                
            
        </div>
    </div>
</div>

</html>